body {
    /*font-family: Arial, sans-serif;
    text-align: center;
    */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.game {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.options,.leaderboard {
    /*display: flex;
    gap: 20px;
    */
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.leaderboard {
    overflow: auto;
    overflow-y: scroll;
    background-color: #e0e0e0;
}

.options {
    display: flex;
    justify-content: left;
    padding-left: 80px;
}

button {
    border: none;
    font-size: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
button:hover {
    opacity: 0.7;
}

.result {
    margin-top: 20px;
}

#rock {
    background-color: #ff0000;
}

#paper {
    background-color: #2196f3;
}

#scissors {
    background-color: rgb(23, 240, 95);
}

p {
    font-size: 1.2rem;
    font-weight: 500;
}
.leaderboard {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    float: right;
    width: 30%;
    box-sizing: content-box;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
